* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
}

.temperature-page .blue {
  color: blue;
}

.temperature-page .black {
  color: black;
}

.temperature-page .red {
  color: red;
}
h3 {
  font-weight: normal;
}
.is-selected h3 {
  font-weight: bold;
}
.App {
  padding: 50px;
}
.App nav {
  margin-bottom: 15px;
}
.App nav a {
  margin-right: 15px;
  color: dodgerblue;
  text-decoration: none;
}
.App nav a:hover {
  text-decoration: underline;
}
.celebrity {
  padding: 15px;
  border: 1px solid #555;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.more-info {
  border-left: 1px solid #555;
  padding-left: 15px;
  margin-left: 15px;
}
.more-info > * {
  margin-bottom: 10px;
}
.customize-image-page input,
.temperature-page input {
  margin-bottom: 10px;
  width: 150px;
}
